<header id="header">
    <div class="header-container">
        <div class="title">
            <a href="{{@site.url}}">{{@site.title}}</a>
        </div>
        <div class="spacer"></div>
        <div class="navigation">
            <ul>
                <li>
                    <a>PICTURES</a>
                </li>
                <li>
                    <a>WORDS</a>
                </li>
            </ul>
        </div>
    </div>
</header>