<header id="header">
    <a class="title" href="{{@site.url}}">{{@site.title}}</a>

    <div class="navigation">
        <ul>
            <li>
                <a>PICTURES</a>
            </li>
            <li>
                <a>WORDS</a>
            </li>
        </ul </div>
</header>